<div class="container p-4">
    <div class="row">
        <div class="col-md-4 mx-auto">
            <div class="card text-center">
                <div class="card-header">
                    <h3>Login</h3>
                </div>
                <div class="card-body">
                    <img src="/img/logo2.jpg" alt="Logo Fazt" class="card-img-top mx-auto m-2 rounded-circle w-50" >
                    <form action="/signin" method= "POST">
                   <div class="from-group">
                        <input type="text" name="username" placeholder="Ingresa tu Usuario" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="Ingresa tu Password" class="form-control">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-success btn-block">
                            Ingresar 
                        </button>
                    </div>
                    </form>
                </div>
            </div>